<!DOCTYPE html>

    <head>
       
        <title>editing a user</title>
       
    </head>
    <body>
    <h1> Edit this user </h1>
    <form method="POST" action="/users/<%=@user.id%>">

     <input type="hidden" value = "PATCH" name="_method" >
    <label> Name: <input type="text" value= "<%=@user.name%>" name="name"></label><br/>

    <input type="submit" value="Edit">

</form>
      
    </body>
</html>