<!DOCTYPE html>

    <head>
       
        <title>Create a new user</title>

    </head>
    <body>
    <form method="POST" action="/users">

        <label> Name: <input type="text" name="name" ></label><br/>
        <input type="submit" value="Submit">

    </form>
       
    </body>
</html>