<!DOCTYPE html>

    <head>
        
        <title> Kart Index Page</title>
      
    </head>
    <body>
    <h1> All the karts</h1>
    <ul>
    <% @karts.each do |kart|%>
        <li><a href = "/karts/<%=kart.id%>"><%= kart.name %></a></li>
        <%end%>
       </ul>
    </body>
</html>