<!DOCTYPE html>

    <head>
       
        <title>Create a new character</title>

    </head>
    <body>
    <form method="POST" action="/characters">

        <label> Name: <input type="text" name="name" ></label><br/>
        <label> Bio: <input type="text" name="bio" ></label><br/>
        <input type="submit" value="Donkey">

    </form>
       
    </body>
</html>