<!DOCTYPE html>
    <head>
    <link rel="stylesheet" href="./styles.css"/>

        <title>About Page</title>
       </head>
    <body>

    <h1> Welcome to Mario Kart Info </h1>

    <p>Mario Kart is a series of go-kart-style racing video games developed and published by Nintendo as spin-offs from its trademark Super Mario series. The first in the series, Super Mario Kart, was launched in 1992 on the Super Nintendo Entertainment System to critical and commercial success.</p>
    <span style="display: inline-block;">
    <form action = '/karts'>
        <button type ="submit">Click me to see the karts</button>
    </form>
    <form action = '/users'>
        <button type ="submit">Click me to see the users</button>
    </form>
    <form action = '/characters'>
        <button type ="submit">Click me to see the characters</button>
    </form>
    </span>
    </body>
</html>